# if statememts

### if is a condition statement used to compare something if the condition is true then the block of code is executed otherwise it skips the block

In [ ]:
x=23
if x>=20:
    print("The number is greater than 20 that is :\n" , x)

In [ ]:
x= int(input("enter the number:"))
if x%5==0:
    print("hello")
print("bye")

## if and else

In [3]:
name=input("enter name:")
x= int(input("enter the number:"))
if x%5==0:
    print("hello", name)
else:
    print("so sorry! you entered a wrong number try agin", name , "............")

enter name:asddds
enter the number:23
so sorry! you entered a wrong number try agin asddds ............

# else if

In [25]:
x= float(input("enter the number"))
if x>90:
    print("excellent")
elif x>70:
    print("very good")
elif x>40:
    print("pass")
else:
        print("retry again! All the best for next time:)")

enter the number12
retry again! All the best for next time:)

# nested if

In [20]:
x= int(input("enter the number: "))
if x>20:
    if x%2==0:
        print("the number is even ")
    else:
        print("the number is odd")
else:
    print("number is less than 20")

enter the number: 23
the number is odd

# whileloop

## it is used when we have to run same lines of code multiple times

### table of any number

In [28]:
i= int(input("enter the value: "))
x=1
while x<=10:
    print(i," * ",x," = ",(i*x))
    x=x+1

enter the value: 5
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
5  *  10  =  50

In [ ]:
i=1
while i<2:
    print(" Kalpana Dhingra is a successfull lady .\n She is a very honest and kind officer and a good data analyst.\n She is a millionaire. Her parents are very proud her .\n Her brother (aditya) and sister(swati) both are at good post and work very honestly.\n She is a wife of deepanshu, he is an IAS officer.\n They all lived a very happy life..... ")
    i=i+1

In [ ]:
x=5
while x>=1:
    print("hello Kalpana.... how are you")
    x=x-1

# for loop

### for loop is used for iteration in this we have 3 space for(initiaize;condition;iteration(++,--))

# for strings

In [ ]:
i=0
x=10
for i in range(x):
    print(i)

In [ ]:
fruits=["apple","mango","banana"]
for i in fruits:
    print(i)

In [ ]:
name= "Kalpana"
for i in name:
    print(i)

# for integers we use range() functions

In [ ]:
x=10
for i in range(x):
    print(i ," hii ")

In [ ]:
i=10
for d in range(i):
    if d%2==0:
        print(d)

In [ ]:
for i in range(1,20):
        print(i)

In [ ]:
for i in range(1,20,2):
    print("helloo......." , i)