# RECURSION

In [1]:
# recursion loop using function

In [6]:
def show(n):
    if(n==0):
        return
    print(n , end=" ")
    show(n-1)

show(5)

5 4 3 2 1

In [10]:
#to return nothing
def sum():
    pass

In [11]:
def prod(a,b):
    m= print(a*b)
    return m
prod(3,5)

15

In [23]:
def fact(n):
    fact=1
    for i in range(1,n+1):
        fact= fact*i
    #fact(n-1)
    return fact
fact(5)

120

In [45]:
def fact(n):
    if(n==0 or n==1):
        return 1
    return fact(n-1)* n
v=fact(3)
print(v)
n=fact(5)
print(n)
print(fact(6))

6
120
720

In [56]:
def calc_sum(n):
    if(n==0):
        return 0
    return calc_sum(n-1)+ n
sum=calc_sum(5)
print(sum)

15

In [ ]:
#print the elements of list using recursion

In [71]:
def print_list(list,idx=0):
    if(idx==len(list)):
        return
    print(list[idx])
    print_list(list,idx+1)
fruits=["mango","banana","apple","litchi","berry"]
print_list(fruits)

mango
banana
apple
litchi
berry