# SET IN PYTHON

# Set is a collection of elements . It is unordered, unchangeble, un-indexed and duplicates are not allowed.

In [2]:
a={"apple","mango",2,1}
print(a)
print(type(a))

{'apple', 'mango', 2, 1}
<class 'set'>

In [3]:
print(a[0])

TypeError: 'set' object is not subscriptable

In [4]:
name={"ram","ram","radha","shyam","radha"}
print(name)

{'shyam', 'ram', 'radha'}

In [5]:
#consider true or 1 as same value
a={"hi",1,3,2,True}
print(a)

{1, 2, 3, 'hi'}

In [9]:
#length of set
a={"hlo","hii",2,5,"hii",32}
print(a)
print(len(a))

{32, 'hii', 2, 5, 'hlo'}
5

# mutable means hashable ,,,,,immutable means unhashable

In [10]:
a={[1,4,3],"hi"}
print(a)

TypeError: unhashable type: 'list'

In [13]:
a={(1,5,4,3.5),"hlo"}
print(a)

#due to tuple is hashable

{(1, 5, 4, 3.5), 'hlo'}

In [14]:
x={{"a":"kalpana"}}
print(x)

TypeError: unhashable type: 'dict'

# access items in set

In [16]:
x={1,4,3,76}
for i in x:
    print(i)

1
3
4
76

# check if item is present in set or not

In [18]:
a={2,5,"hlo"}
print("hlo" in a)
print(1 in a)

True
False

# creating empty set

In [19]:
empty = set()
print(empty)
print(type(empty))

set()
<class 'set'>

In [20]:
set={}
print(type(set))

<class 'dict'>

# add element in set

In [22]:
a={2,54,65,"hee"}
a.add(100)
print(a)

{65, 2, 100, 'hee', 54}

In [25]:
s={1,4,3,6,5}
y={4,2,"data","python","analyst"}
x.update(y)
print(x)
y.update(x)
print(y)

{1, 2, 3, 4, 'anayst', 76, 'analyst', 'python', 'data'}
{1, 2, 3, 4, 'anayst', 76, 'analyst', 'python', 'data'}

In [26]:
a={"data","a","is","very","important"}
a.remove("a")
print(a)

{'is', 'data', 'important', 'very'}

In [27]:
a.pop()
print(a)

{'data', 'important', 'very'}

In [28]:
a.clear()
print(a)

set()

# join two set using union

In [31]:
w={"alpha","beta","gamma"}
z={"are","the","functions"}
print(w.union(z))

{'beta', 'alpha', 'are', 'gamma', 'functions', 'the'}

# min and max values

In [35]:
lang={"hindi","english","telugu","french"}
a={2,54,65,23,8}
print(min(a))
print(min(lang))
print(max(a))
print(max(lang))

2
english
65
telugu

In [36]:
print(min(lang))

english

# return common element of two sets

In [40]:
a={2,54,65,"hii","hlo"}
e={"hii",45,2,54}
x=a.intersection(e)
print(x)

{'hii', 2, 54}