# Tuples

# Tuples is IMMUTABE datatype represents in round brakets

# creating

In [4]:
tuple=(1,3,4,2)
print(tuple)
print("length :",len(tuple))
print(type(tuple))

(1, 3, 4, 2)
length : 4
<class 'tuple'>

In [5]:
tuple=(1,5,3,87,32,"a",2.4,"abcd",2+3j)
print(tuple)

(1, 5, 3, 87, 32, 'a', 2.4, 'abcd', (2+3j))

# empty tuple

In [6]:
T=()
print(T)

()

# nested tuple

In [8]:
fruits=("cherry",["bloosms","peach"],"sweetpotato","pineapple")
print(fruits)

('cherry', ['bloosms', 'peach'], 'sweetpotato', 'pineapple')

## creating a tuple with only one variable

In [11]:
T=(1)
print(type(T))

<class 'int'>

In [12]:
T=(1,)
print(type(T))

<class 'tuple'>

# indexing

In [24]:
stationary=("pen","paper","pencil")
print(stationary[2])
print(stationary[-2])
print("-----------------------------")
for i in stationary:
    print(i)

pencil
paper
-----------------------------
pen
paper
pencil

# slicing

In [27]:
A=(1,54,3,2,7,43,87,2,10)
print(A[0:5])
print(A[0:1])

(1, 54, 3, 2, 7)
(1,)

# reverse

In [29]:
a=(23,4,6,21,11,5,0)
print(a[::-1])

(0, 5, 11, 21, 6, 4, 23)

# concatenate two tuple

In [30]:
tuple=(23,1,3,6,74)
tuple1=("pen","paper","IAS")
tuple2=tuple+tuple1
print(tuple2)

(23, 1, 3, 6, 74, 'pen', 'paper', 'IAS')

# multiply tuple

In [32]:
T=(1,4,3,[4])
print(T*3)

(1, 4, 3, [4], 1, 4, 3, [4], 1, 4, 3, [4])

In [48]:
t=(4,6,[2],9)
for i in t:
    print(t*2)

(4, 6, [2], 9, 4, 6, [2], 9)
(4, 6, [2], 9, 4, 6, [2], 9)
(4, 6, [2], 9, 4, 6, [2], 9)
(4, 6, [2], 9, 4, 6, [2], 9)

# user define tuple

In [58]:
T=()
i=0
while i<=5:
    num= int(input("enter the values:"))
    T=T+(num,)
    i=i+1
    print(T)
    print("````````````````````````")
print()
print("The tuple is: ",T)

enter the values:4
(4,)
````````````````````````
enter the values:3
(4, 3)
````````````````````````
enter the values:54
(4, 3, 54)
````````````````````````
enter the values:7
(4, 3, 54, 7)
````````````````````````
enter the values:65
(4, 3, 54, 7, 65)
````````````````````````
enter the values:8
(4, 3, 54, 7, 65, 8)
````````````````````````

The tuple is:  (4, 3, 54, 7, 65, 8)